div nav ul{
    display: flex;

}

div nav ul li {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #000;
    cursor:pointer;
    height: 50px;
    transition: 500ms;
    user-select: none;
}

div nav ul li:hover{
    background: aquamarine;
}


.page{
    padding-left:45%;
    /*display:flex;*/
    height: 500px;
    font-size: 30px;
    /*justify-content:center;*/
    /*align-items:center;*/

}

.page button{
    width:60px;
    height:20px;
}
